<!DOCTYPE>
<html lang="en">
    <head>
        <title>Delete Successful</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>{{ message }}</h1>
        <p>Return back to previous blog delete page or Home page</p>
        <p>
            <button>
                <a style="text-decoration: none;" href="https://emmanuelobolo.pythonanywhere.com/{{ back_path }}">Prev Read Delete</a>
            </button>
        </p>
        <p>
            <a style="text-decoration: none;" href="{% url 'blog:home' %}">
                Back to Home
            </a>
        </p>
    </body>
</html>
